{# https://www.juniper.net/documentation/us/en/software/junos/ovsdb-vxlan-qfx/topics/task/vxlan-qfx-series-cli.html #}
{# https://www.juniper.net/documentation/us/en/software/junos/ovsdb-vxlan-qfx/topics/topic-map/vxlan-qfx-series.html#id-example-configuring-a-vxlan-transit-switch #}
set interfaces {{infra_vxlan.switches[inventory_hostname].loopback_interface}} unit 0 family inet address {{infra_vxlan.switches[inventory_hostname].loopback_address}}
set switch-options vtep-source-interface {{infra_vxlan.switches[inventory_hostname].loopback_interface}}.0
set protocols pim interface {{infra_vxlan.switches[inventory_hostname].loopback_interface}}.0
set protocols ospf area 0.0.0.0 interface {{infra_vxlan.switches[inventory_hostname].loopback_interface}}.0
set protocols pim interface {{infra_vxlan.switches[inventory_hostname].core_interface}}.0
set protocols ospf area 0.0.0.0 interface {{infra_vxlan.switches[inventory_hostname].core_interface}}.0
set protocols pim rp static address {{infra_vxlan.pim_rp}}
set vlans VLAN1 vlan-id {{vlan_id}} vxlan vni {{vni}} multicast-group {{infra_vxlan.multicast_address}}
set vlans VLAN1 vxlan encapsulate-inner-vlan
set vlans VLAN1 vxlan unreachable-vtep-aging-timer {{infra_vxlan.switches[inventory_hostname].aging_timer}}
{# restart l2-learning #query mode #}
{# set protocols l2-learning decapsulate-accept-inner-vlan #}
delete interfaces {{infra_vxlan.switches[inventory_hostname].core_interface}} unit 0 family inet dhcp
set interfaces {{core_interface}} unit 0 family inet address {{infra_vxlan.switches[inventory_hostname].core_address}}
delete interfaces {{infra_vxlan.switches[inventory_hostname].access_interface}} unit 0 family inet
set interfaces {{infra_vxlan.switches[inventory_hostname].access_interface}} unit 0 family ethernet-switching interface-mode trunk
set interfaces {{infra_vxlan.switches[inventory_hostname].access_interface}} unit 0 family ethernet-switching vlan members all
{# set protocols ospf enable #}
set protocols ospf area 0.0.0.0 interface {{infra_vxlan.switches[inventory_hostname].l2l3_interface}}.0 disable
set protocols ospf area 0.0.0.0 interface {{infra_vxlan.switches[inventory_hostname].mgmt_interface}}.0 disable
set protocols ospf area 0.0.0.0 interface all