#https://www.juniper.net/documentation/us/en/software/junos/ovsdb-vxlan-qfx/topics/task/vxlan-qfx-series-cli.html
#https://www.juniper.net/documentation/us/en/software/junos/ovsdb-vxlan-qfx/topics/topic-map/vxlan-qfx-series.html#id-example-configuring-a-vxlan-transit-switch
set interfaces lo0 unit 0 family inet address 10.1.1.1
set switch-options vtep–source-interface lo0.0
set protocols pim interface lo0.0
set protocols ospf area 0.0.0.0 interface lo0.0
set protocols pim interface xe-0/0/1.0
set protocols ospf area 0.0.0.0 interface xe-0/0/1.0
set protocols pim rp static address 10.2.2.2
set vlans VLAN1 vlan-id 100 vxlan vni 100 multicast-group 233.252.0.2
set vlans VLAN1 vxlan encapsulate-inner-vlan
set vlans VLAN1 vxlan unreachable-vtep-aging-timer 600
set protocols l2-learning decapsulate-accept-inner-vlan
set interfaces xe-0/0/1 unit 0 family inet address 10.2.2.100/24
set interfaces xe-0/0/2 unit 0 family ethernet-switching interface-mode trunk
set interfaces xe-0/0/2 unit 0 family ethernet-switching vlan members all
set protocols ospf enable
set protocols ospf area 0.0.0.0 interface em0.0 disable
set protocols ospf area 0.0.0.0 interface all